[Unit]
Description=Runs /etc/rc.local on startup
ConditionPathExists=/etc/rc.local
After=network.target
After=remote-fs.target

[Service]
Type=simple
RemainAfterExit=yes
UMask=0077
ExecStart=/bin/sh /etc/rc.local
ReadOnlyDirectories=/usr /lib /bin /sbin
SysVStartPriority=99

[Install]
WantedBy=multi-user.target
