[Unit]
Description=tvheadend
After=tmp.mount
After=network.target
After=remote-fs.target
# # automatically stop when entering any sleep state
#Conflicts=sleep.target

[Service]
Type=forking
PIDFile=/run/tvheadend.pid
ExecStart=/usr/bin/tvheadend -f -p /run/tvheadend.pid -C -u tvheadend -g video
ExecStop=/bin/rm /run/tvheadend.pid
Restart=always
RestartSec=5

ReadOnlyDirectories=/bin /sbin /lib /usr
PrivateTmp=yes

[Install]
WantedBy=multi-user.target
Also=tvheadend-resume.service
